input, textarea {
  display: inline-block;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(199,199,199,1);
  -moz-box-shadow: 1px 1px 3px 0px rgba(199,199,199,1);
  box-shadow: 1px 1px 3px 0px rgba(199,199,199,1);
}

input.inside{
  box-shadow: none;
  margin: 0 0 0 -35px;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body.home{overflow: hidden;}

strong, b, .strong, .b {
  color: $color-primary;
}

.contact input[type=text], .contact textarea{width: 100%;}
.contact{margin: 20px auto; width: 40%;}
.btn-blue{
  background: linear-gradient(to bottom, rgba(25,155,182,1) 0%, rgba(20,125,146,1) 100%);
  border: none;
  height: 55px;
  line-height: 40px;
}

#navbar-top {
  border-bottom: 1px #c3bcb6 solid;
  background: #f3ede8;
  background: -moz-linear-gradient(top, #f3ede8 0%, #ede3db 19%, #e9ddd3 31%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f3ede8), color-stop(19%, #ede3db), color-stop(31%, #e9ddd3));
  background: -webkit-linear-gradient(top, #f3ede8 0%, #ede3db 19%, #e9ddd3 31%);
  background: -o-linear-gradient(top, #f3ede8 0%, #ede3db 19%, #e9ddd3 31%);
  background: -ms-linear-gradient(top, #f3ede8 0%, #ede3db 19%, #e9ddd3 31%);
  background: linear-gradient(to bottom, #f3ede8 0%, #ede3db 19%, #e9ddd3 31%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3ede8', endColorstr='#e9ddd3', GradientType=0 );
}

.side-bar{
  display: none;
  background-color: #f4eee9;
  width: 26%; float: left;
  padding: 20px 3% 0 3%;
  text-align: center;
  padding-bottom: 300px;

  form{
    background-color: #eadfd8;
    padding: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd6d1;
  }

  input[type=text]{
    width: 88%;
  }
}

.nav-sec-vert{
  margin: 10px 0 20px 0;
  text-align: left;

  & a{
    color: $text-color;
    display: block;
    width: 100%;
    padding: 8px 0 5px 5px;
    border-bottom: 1px solid #ddd6d1;

    &:hover, &.open {
      text-decoration: none;
      color: $color-primary;
    }
    .icon{
      color: $color-secondary;
    }
  }
}

.content{
  .text{
    padding: 3%;
    /*padding-top: 65px;*/
    h1, h2{
      margin-bottom: 5px;
    }
    .subtitle{
      font-size: 18px;
      margin-top: 0;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd6d1;
    }
  }
}

.logo img{
  width: 110px;
  height: 45px;
  margin: 20px 0 0 25px;
}

.nav-sec, .nav-sec-abs{
  background-color: #d7ccc8;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(158,158,158,1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(158,158,158,1);
  box-shadow: 0px 1px 3px 0px rgba(158,158,158,1);
  /*  z-index: 100;
    position: absolute;
    width: 100%;*/
  height: 65px;
}

.nav-sec-abs{
  position: absolute;
  top: 51px;
  left: 0; right: 0;
  height: 50px;
  .col12{padding: 5px;}
}
.map-browse{
  position: absolute;
  top: 95px; bottom: 0;
  left: 0; right: 0;
}
.map-location{
  width: 100%;
  height: 240px;
  margin-top: -5px;
}
.map-results{
  position: absolute;
  left: 400px;
  top: 115px;
  bottom: 0;
  right: 0;
}

#welcome-bg{
  position: absolute;
  top: 95px; bottom: 0;
  left: 0; right: 0;
  background: #d7d0c5;
  background: linear-gradient(rgba(243,237,232, 0.4),rgba(243,237,232,0.95) 55%);
  background-image: linear-gradient(rgba(243,237,232, 0.4), rgba(243,237,232,0.95) 55%);
  z-index: 50;
  text-align: center;

  &.closed{display: none;}

  #welcome{
    position: absolute;
    top: 25%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -10% 0 0 -25%;

    &.closed{display: none;}

    #welcome-btn-map{margin: 15px 0 0 0;}

    img{
      margin-bottom: 10px;
      width: 170px;
      height: 127px;
    }
    p{
      padding-bottom: 20px;
      font-size: 14px;
      color: $color-primary;
    }
  }
}

#search-bottom{
  position: absolute;
  display: block;
  left: 0; right: 0;
  bottom: 0;
  height: 55px;
  background-color: rgba(243,237,232, 0.8);
  transition: bottom .6s ease;
  text-align: center;
  padding-top: 15px;
  z-index: 1009;
  transition: bottom .6s ease;
  &.closed{
    bottom: -55px;
  }
}

#card{
  position: absolute;
  min-height: 110px;
  width: 340px;
  margin: 0 -170px 0 0;
  right: 50%;
  top: 120px;
  background-color: rgba(243,237,232, 0.8);
  border-radius: 5px;
  z-index: 50;
  border: 1px solid $color-primary;
  box-shadow: #999 0 0 5px;
  &.cright{
    right: 10px;
    top: 150px;
    margin: 0;
  }

  .card-thumb{
    position: absolute;
    margin: 10px;
    width: 60px; height: 60px;
    img{
      width: 100%; height: 100%;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }
  .card-text{
    margin-left: 80px;
    min-height: 50px;
    h3{ margin-bottom: 5px;}
    p{ color: $text-color; }
  }
  .card-link{
    text-align: center;
    display: block;
    margin: 0 0 -1px -1px;
    width: 340px;
    border-top: 1px solid $color-primary;
    background-color: rgba(243,237,232, 0.8);
    padding: 5px 0;
    border: 1px solid $color-primary;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &.closed{display: none;}

  &:hover{
    text-decoration: none;
  }
}

.place{
  border-bottom: 1px solid #ddd6d1;
  display: block;
  .place-thumb{
    position: absolute;
    margin: 10px;
    width: 60px; height: 60px;
    img{
      border: 1px solid #ddd6d1;
      width: 100%; height: 100%;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }
  .place-text{
    display: inline-block;
    margin-left: 80px;
    min-height: 50px;
    min-height: 80px;
    p{color: #b09e86;}
    h3{
      margin-bottom: 5px;
    }
  }
  &:hover h3{color: #199bb6;}
  .place-link{
    position: absolute;
    display: inline-block;
  }
  &:hover{
    background-color: #e8dbd1;
  }
  &:after{
    font-family: 'icons';
    content: '>';
    float: right;
    margin: 10px 10px 0 0;
    font-size: 40px;
    color: $color-primary;
  }
}

#results{
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 135px;
  left: 0;
  width: 400px;
  bottom: 0;
  background-color: #efe7e1;
  z-index: 60;
  transition: left .6s ease;
  z-index: 1005;
}

.page{
  width: 100%;
  background-color: #f4eee9;
  padding: 10px; margin: 0;
  border-bottom: 1px solid #d4cec8;
}
.pfooter{width: 100%; padding: 10px 40px; text-align: center;}
.map-results{left: 0;}
.message{
  position: absolute ;
  top: 85px;
  left: 0; right: 0;
  height: 50px;
  z-index: 1002;
  text-align: center;
}
.bg-light{background-color: #e9ddd3;}
@media (min-width: $sc-small) {
  #welcome-bg #welcome #welcome-btn-map{margin: 0 0 0 15px;}
  .content{width: 100%;}
}
@media (min-width: $sc-medium) {
  .page, .pfooter{width: 80%; padding: 20px 40px; margin: 10px auto;}
  .page{border: 1px solid #d4cec8;}
  .pfooter{padding: 0 40px;}
}
@media (min-width: $sc-large) {
  .map-location{
    margin-top: 0;
  }
  #navbar-top{
    border-bottom: 10px $color-primary solid;
  }
  .nav-sec{
    display: none;
  }
  .side-bar{
    display: inline-block;
  }
  .content{width: 74%; float: left;}

  #welcome-bg{
    #welcome{
      top: 40%;
      left: 50%;
      height: 30%;
      width: 50%;
      margin: -10% 0 0 -25%;
      img{
        width: 270px;
        height: 202px;
      }
    }
  }
  .page, .pfooter{width: 66%; padding: 20px 40px; margin: 30px auto 10px auto;}
  .pfooter{padding: 0 40px; margin: 10px auto;}
}
@media (max-width: $sc-small) {
  #navbar-top{
    height: 50px;
    .logo{
      height: 50px;
      img{
        height: 33px;
        width: 80px;
        margin: 7px 0 0 10px;
      }
    }
  }
  .nav-sec{
    height: 50px;
    .col12{padding: 6px;}
  }
  .nav-mobile{
    padding: 5px 10px !important;
  }
  #nav-mobile-btn, #nav-mobile-btn.active{border: none !important;}
  #navbar-top .nav-mobile #nav-mobile-nav{top: 50px;}
  #welcome-bg{top: 50px;}
  .container.main {
    padding-top: 51px;
  }
  #search-bottom input[type=text]{width: 94%;}
  #results{
    width: 100%;
    &.closed{
      display: none;
    }
  }
  .contact{width: 100%;}
  .map-browse{
    top: 50px;
  }
  .message {
    top: 95px;
    height: 40px;
    padding: 10px;
  }
}
/* Helpers */

@media (max-width: $sc-medium) {
  .mobile-no{display: none;}
  .mobile{display: inline-block;}
}
@media (min-width: $sc-small) {
  .mobile-no{display: inline-block;}
  .mobile{display: none;}
}
.bg-light{background-color: #eadfd8;}
.icon{vertical-align: sub;}

/* leaflet map */
.leaflet-control{ position: absolute;}
.leaflet-control-zoom{
  position: absolute;
  right: 5px;
  bottom: 85px;
  a{
    font-family: icons;
    font-size: 12px;
    padding-top: 5px;
    width: 36px !important;
    height: 36px !important;
  }
}
#btn-geolocation{
  display: none;
  position: absolute;
  z-index: 1000;
  right: 15px;
  bottom: 65px;
  font-family: icons;
  font-size: 20px;
  width: 36px !important;
  height: 36px !important;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  padding: 4px 8px;
  cursor: pointer;
}
.leaflet-control-layers{
  position: absolute;
  right: 5px;
  bottom: 85px;
}
#btn-geolocation, .leaflet-control-layers, .leaflet-control-zoom a{
  background-color: rgba(255, 255, 255, 0.8) !important;
  color: #453e35 !important;

}
.leaflet-control-layers:before{
  font-family: icons;
  color: #453e35 !important;
  content: "a";
  position: absolute;
  font-size: 20px;
  padding: 3px 8px;
  &:hover{color: pink;}
}
.leaflet-control-layers-expanded:before{content:"";}
.leaflet-control-layers-toggle{
  background-image: none !important;
}

.home .leaflet-control-container{
  display: none;
}