<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}" />

    <link href="{{ site.baseurl }}/base.css" rel="stylesheet" />
    <script type="text/javascript" src="{{ site.baseurl }}/js/index.js"></script>
  </head>
  <body {% if page.id == "home" %}class="home"{% endif %}>
    <div id="navbar-top">
      <div class="container">
        <div class="logo">
          <a href="{{site.baseurl}}/">
            <img src="{{site.baseurl}}/img/pastplace-logo.png" alt="PasPlace logo">
          </a>
        </div>
        <ul class="nav">
          <li><a href="{{site.baseurl}}/">Browse</a></li>
          <li><a href="{{site.baseurl}}/about/">About</a></li>
          <li><a href="{{site.baseurl}}/api/">Api</a></li>
          <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
        </ul>
        <div class="nav-mobile">
          <div id="nav-mobile-btn">#</div>
          <ul id="nav-mobile-nav">
            <li><a href="{{site.baseurl}}/">Browse</a></li>
            <li><a href="{{site.baseurl}}/about/">About</a></li>
            <li><a href="{{site.baseurl}}/api/">Api</a></li>
            <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
          </ul>
        </div>
      </div>
    </div> 
    <div class="container main">
      {{ content }}
    </div>
  </body>
</html>